# Core PyTorch packages (CUDA 11.8 build)
torch
torchvision
torchaudio
# --extra-index-url https://download.pytorch.org/whl/cu118

# YOLOv8 and dependencies
ultralytics

# Computer vision + plotting
opencv-python
matplotlib
numpy==1.24.0
Pillow

fastapi 
uvicorn 
opencv-python-headless 
python-multipart 
aiofiles
